# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime / temp
runtime/
tmp/
temp/

# Qt / build
*.qrc.depends

# MATLAB / Simulink
slprj/
*.asv
*.autosave
*.slxc

# Jupyter
.ipynb_checkpoints/